body {
	margin: 0;
}

h1 {
	font-size: 60px;
	margin: 1rem;
}

h2 {
	font-family: serif;
	font-size: 25px;
	font-weight: 300;
	font-style: italic;
	margin: 1rem;
}

h3 {
	color: #666666;
	font-family: Gotham;
	font-style: normal;
}

h4 {
	color: #f39405;
	font-family: Gotham-Bold;
	font-size: 25px;
	font-weight: 300;
	font-style: bold;
	text-transform: uppercase;
}

p {
	font-family: Gotham;
	font-style: normal;
}

hr {
	width: 70%;
}

.container {
	margin: auto;
}

.container-wide {
	margin: auto;
	max-width: 80%;
}

.column {
	display: inline-block; 
  	padding: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.divider {
	margin: 0;
	margin-top: -1.5rem;
	width: 5%;
}

.divider-icon {
	width: 40%;
}

/*buttons*/
.btn-primary {
	background-color: #f8a322 ;
	border: none;
	border-radius: 12px;
	color: #FFFF;
	display: inline-block;
	font-family: serif;
	font-size: 22.50px;
	padding: 13px 70px 13px 70px;
}

.btn-primary:hover {
	background-color: #f39405;
}

.btn-secondary {
	background-color: transparent;
	border: 2px solid #FFFF;
	border-radius: 12px;
	color: #FFFF;
	font-family: serif;
	font-size: 22.50px;
	padding: 11px 50px 11px 50px;
}

.btn-secondary:hover {
	color: #f39405;
	border: 2px solid #f39405;
}

.btn-primary-grey {
	background-color: #666666;
	border: none;
	border-radius: 12px;
	color: #FFFF;
	display: inline-block;
	font-family: serif;
	font-size: 22.50px;
	padding: 13px 70px 13px 70px;
}

.btn-primary-grey:hover {
	background-color: #f39405;
}


/*Responsive styles*/
/*Mobile*/
@media only screen and (max-device-width: 480px) {
	.row {
		display: block;
	  	text-align: center;
	}
}