@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham/Gotham-Light.otf");
	font-style: normal;
}

@font-face {
	font-family: "Gotham-Italic";
	src: url("../fonts/gotham/Gotham-BookItalic.otf");
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("../fonts/gotham/Gotham-Bold.otf");
}