footer {
	background-color: #333333;
	height:70px;
	left:0;
	position:absolute;
	width:100%;
}

.footer p {
	color: #FFFF;
	display: block;
	font-family: 'Gotham';
	font-size: 20px;
}

.footer-nav-items {
	display: flex;
  	flex-direction: row;
}

.footer-nav-items-right {
	margin-top: 0.5rem;
	margin-left: 55%;
}

.footer-icons {
	margin-top: 1rem;
	margin-left: 10%;
}