/*Navigation*/
.navbar {
	background-color: #FFFF;
	height: 60px;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a {
	color: #666666;
	display: block;
	float: left;
	font-family: 'Gotham';
	font-size: 22px;
	padding: 14px 100px;
	text-align: center;
	text-decoration: none;
}

.navbar a:hover {
	color: #f8a322;
}

.nav-items-left {
    margin-left: 250px;
}

.nav-items-right {
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
    margin-top: 0.2rem;
}

.circle {
    background-color: #FFFF;
    border-radius: 50%;
  	height: 120px;
    display: block;
    margin-left: 46.8%;
    position: fixed;
    width: 120px;
}

.circle-text {
	color: #666666;
	font-family: serif;
	font-weight: bold;
	font-size: 90px;
	line-height: 120px;
	margin: 2.2rem;
	text-align: center;
}

/*Hero image*/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
	height: 100vh;
	margin: -0.5rem;
}

.hero-text {
	color: #FFFF;
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

.hero-cta-buttons {
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 70%;
  	transform: translate(-50%, -50%);
}

.cta-button {
	margin-right: 1rem;
}




