/*Navigation*/
.navbar {
	background-color: #FFFF;
	height: 60px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar a {
	color: #666666;
	font-family: 'Gotham';
	font-size: 22px;
	padding: 1rem 5rem;
	text-decoration: none;
}

.navbar a:hover {
	color: #f8a322;
}

.nav-items {
	align-content: space-between;
	display: flex;
  	margin-top: 1rem;
}

.nav-items-left {
	margin-left: 10rem;
}

.nav-items-right {
	margin-left: auto;
	margin-right: 10rem;
}

.circle {
    background-color: #FFFF;
    border-radius: 50%;
  	height: 120px;
    left: 50%;
	position: fixed;
    top: 7%;
    transform: translate(-50%, -50%);
    width: 120px;
}

.circle-text {
	color: #666666;
	font-family: serif;
	font-weight: bold;
	font-size: 90px;
	line-height: 120px;
	margin: 2.2rem;
	text-align: center;
}

.navbar .icon {
  display: none;
}

/*Responsive styles*/
/*Mobile*/
@media only screen and (max-device-width: 480px) {
	.navbar a {
		font-size: 15px;
	    padding: 1rem 2rem;
	}

	.nav-items {
		margin-top: 0.5rem;
	}

	.nav-items-left {
	    position: fixed;
	    margin-top: 2.5rem;
    	margin-left: auto;
	    z-index: 2;
	}

	.nav-items-right {
		position: fixed;
		margin-top: 8.4rem;
	    margin-right: auto;
     	width: 100%;
	}
}

@media screen and (max-device-width: 480px) {
  .nav-items a:not(:nth-of-type(3)) {display: none;}
  .nav-items a.icon {
   	 	display: block;
    	z-index: 1;
  }
}

@media screen and (max-device-width: 480px) {
  .nav-items.responsive {position: relative;}
  .nav-items.responsive .nav-items-left {
  	    width: 100%;
  }

  .nav-items.responsive a {
	    display: block;
	    text-align: center;
	    background-color: #FFFFFF;
  }
}

/*Responsive styles*/
/*Tablet*/
@media only screen and (min-width: 600px) and (max-device-width: 900px) {
	.navbar a {
		padding: 1rem 3rem 0 0;
	}

	.fa-bars:before {
		margin-left: 21rem;
	}

	.nav-items-left {
	    margin-left: 5rem;
	}

	.nav-items-right {
	    margin-right: 2rem;
	}
}

@media only screen and (max-width: 1024px) {
	.nav-items-left {
		margin-left: auto;
	}

	.nav-items-right {
		margin-right: auto;
	}
}

/*Hero image*/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
	display: block;
	max-width: 100%;
	height: 100vh;
}

.hero-text {
	color: #FFFF;
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

.hero-cta-buttons {
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 70%;
  	transform: translate(-50%, -50%);
}

.cta-button {
	margin-right: 1rem;
}

/*Responsive styles*/
/*Mobile*/
@media only screen and (max-device-width: 480px) {
	.hero-text {
		width: 100%;
	}

  	.cta-button {
    	margin-top: 3rem;
    	margin-bottom: 1rem;
    	margin-left: 1rem;
	}
}

/*tablets*/
@media only screen and (min-width: 600px) and (max-device-width: 900px) {
    .cta-button {
    	margin-bottom: 2rem;
    	margin-left: 1rem;
	}
}



