/*Navigation*/
.navbar {
	background-color: #FFFF;
	height: 60px;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a {
	color: #666666;
    display: block; 
	float:left; 
	font-family: 'Gotham';
	font-size: 22px;
	padding: 1rem 5rem;
	text-decoration: none;
}

.navbar a:hover {
	color: #f8a322;
}

.nav-items-right {
	float: right;
    margin-top: 0.2rem;
}

.circle {
    background-color: #FFFF;
    border-radius: 50%;
  	height: 120px;
    left: 50%;
	position: fixed;
    top: 7%;
    transform: translate(-50%, -50%);
    width: 120px;
}

.circle-text {
	color: #666666;
	font-family: serif;
	font-weight: bold;
	font-size: 90px;
	line-height: 120px;
	margin: 2.2rem;
	text-align: center;
}

.navbar .icon {
  display: none;
}

/*Responsive styles*/
/*Mobile*/
@media only screen and (max-device-width: 480px) {
	.navbar a {
		font-size: 12px;
		padding: 1.5rem 1rem 0 0;
	}

	.nav-items-left {
	    margin-left: 1rem;
}

	.nav-items-right {
		float: right;
	    margin-top: 0;
	}
}

/*Responsive styles*/
/*Tablet*/
@media only screen and (min-width: 600px) and (max-device-width: 900px) {
	.navbar a {
		padding: 1rem 3rem 0 0;
	}

	.nav-items-left {
	    margin-left: 5rem;
}

	.nav-items-right {
		float: right;
	    margin-right: 2rem;
	}
}

/*Hero image*/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
	display: block;
	max-width: 100%;
	height: 100vh;
}

.hero-text {
	color: #FFFF;
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

.hero-cta-buttons {
	left: 50%;
	position: absolute;
  	text-align: center;
  	top: 70%;
  	transform: translate(-50%, -50%);
}

.cta-button {
	margin-right: 1rem;
}

/*Responsive styles*/
/*Mobile*/
@media only screen and (max-device-width: 480px) {
	.hero-text {
		width: 100%;
	}

  	.cta-button {
    	margin-top: 3rem;
    	margin-bottom: 1rem;
    	margin-left: 1rem;
	}
}

/*tablets*/
@media only screen and (min-width: 600px) and (max-device-width: 900px) {
    .cta-button {
    	margin-bottom: 2rem;
    	margin-left: 1rem;
	}
}
