.fb-icon {
	filter: invert(100%);
	margin-top: 0.2rem;
	margin-right: 2.5rem;
}

.tw-icon {
	filter: invert(100%);
}

.square {
	display: inline-block;
    height: 130px;
    margin-left: 3rem;
    position: absolute;
    width: 130px;
}

.square:before {
	background-color: #FFFFFF;
	bottom: 0;
    border: 1px solid #000000;
	content: "";
	display: block;
	left: 0;
	position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    z-index: -1;
}

.square-icon {
	display: inline-block;
    margin-left: 1rem;
    margin-top: 1.8rem;
    height: 100px;
    text-align: center;
    width: 100px;
}